{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Voteing Form</title>
{% endblock %}

{% block content %}
<h2><br>List Of Candidate</h2>
<br>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Party Name</th>
        <th>Party Logo</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for i in data %}

    <tr>
        <td>{{i.fullname}}</td>
        <td>{{i.partynm}}</td>
        <td>{% if i.partyimg %}
                <img src="{{ i.partyimg.url }}" alt="{{ i.partynm }} Logo" style="max-width: 100px; max-height: 100px;">
            {% else %}
                No Image Available
            {% endif %}</td>

        <td>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="text" value="{{i.fullname}}" name="fn"  hidden="hidden">
                <input type="submit" value="VOTE" class="btn btn-secondary btn-lg">
                <!--<button class="btn btn-secondary btn-lg"><a href = "{% url 'votingcomplete_view_url' %}">VOTE</a></button>-->
            </form>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}