{% extends 'base.html' %}

{% block title %}
    <title>Voting Complete</title>
{% endblock %}

{% block content %}

<div class="container jumbotron mt-5">
    <div class="message">
        <h1 class="display-1 text-center">Voting Complete</h1>
        <h1 class="display-4 text-center">Thank You for Voting</h1>
        <p class="text-center"><br>Your vote has been successfully recorded.<br>
        We appreciate your participation in this election process.<br>
        For any further assistance or queries, please contact our support team.</p>
    </div>
</div>

{% endblock %}
